body {
    background:cyan;
    font-family: 'Special Elite', cursive;
}
.header_div{
    background: white;
    color: darkorchid;
}
.header_div p{
    font-family: 'Roboto Serif', serif;
    color:darkslategray;
    letter-spacing: 2px;
    font-size: 12px;
    font-weight: bold;
}
.main_div button{
    font-family: 'Roboto Serif', serif;
    margin-top: 30px;
    width: 130px;
    font-weight: bolder;
    letter-spacing: 3px;
}
.copy_right_footer{
    position: fixed;
    color: rgb(123, 207, 186);
    bottom:0;
    width:100%;
    font-size: 18px;
    background-color: firebrick;
    line-height: 3;
    text-align: center;
    text-shadow: 5px 5px 5px cyan;
}